body {
    height: 100%;
}

.main-page {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.member-function {
    padding: 0;
    position: sticky;
    top: 116px;
}

.member-function li:first-of-type {
    padding-top: 0;
}

.member-function li {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.member-function li:last-of-type {
    border-bottom: none;
}

.member-function li.active a {
    color: #198937;
}

.member-function li a {
    display: block;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

.member-function li a:hover {
    color: #198937;
}

form .input-pas{
    position: relative;
}

form .input-pas i{
    line-height: 38px;
    position: absolute;
    right:  10px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

form button{
    background-color: #198937;
}
form .form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #0008;
}

@media screen and (max-width:767.98px) {

    .main-page {
        padding-top: 20px;
    }

    .member-function {
        display: flex;

        background-color: #fff;
    }

    .member-function li:first-of-type {
        padding-top: 15px;
    }

    .member-function li {
        flex-shrink: 0;
        padding-right: 15px;
        border-bottom: none;
    }

  


}