body{
    background-color: rgb(242, 242, 242);

}

.yt {
    aspect-ratio: 16/9;
}

.yt h2{
    width: 1px;
    height: 1px;
    position: absolute;
    font-size: 1px;
    overflow: hidden;

}

.yt iframe {
    width: 100%;
    height: 100%;
}

.cga-description {
    padding: 50px 0;
}

.cga-description h2 {
    text-align: center;
    margin-bottom: 40px;
}

.cga-description h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.cga-description p {
    font-size: 16px;
    font-weight: normal;
}

.cga-description .pic {
    height: 100%;
}

.cga-description .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */
.cga-fun {
    padding-bottom: 50px 0;
}

.cga-fun h2 {
    text-align: center;
    margin-bottom: 40px;
}

.cga-fun .card {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}

.cga-fun .card .txt {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    order: 1;
}

.cga-fun .card .txt h3 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.cga-fun .card .txt a {
    margin-top: auto;
    align-self: flex-end;
}

.cga-fun .card .txt a:hover {
    color: rgb(25, 137, 55);
}

.cga-fun .card .txt a:hover .fas {
    transition: .3s;
    transform: translateX(8px);
}

.cga-fun .card .txt a .fas {
    display: inline-block;
    margin-left: 5px;
}


.cga-fun .card .pic img {
    width: 100%;
}

.cga-fun .stamp-list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.cga-fun .stamp-list .stamp {
    width: calc(20% - 20px);
    margin: 0 10px 25px;
    background-color: rgb(242, 242, 242);
    border-radius: 50%;
    border: 5px solid #fff;
}

.cga-fun .stamp-list .stamp img {
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(242, 242, 242);

}


@media screen and (max-width:767.98px) {
    .cga-fun .stamp-list .stamp {
        width: calc(50% - 20px);
    }

    .cga-fun .card {
        margin-bottom: 40px;
    }

    .cga-fun .card .txt h3 {
        font-size: 18px;
    }

    .yt {
        padding: 0;
    }

 
}