body{
    background-color: rgb(242, 242, 242);

}

.banner .col-12{
   padding: 0;
}
.main-pic{
   padding: 30px 0;
}

.main-pic img {
    width: 100%;
}
.cga-description {
    padding: 50px 0;
}

.cga-description h2 {
    text-align: center;
    margin-bottom: 40px;
}

.cga-description h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.cga-description p {
    font-size: 16px;
    font-weight: normal;
}

.cga-description .pic {
    height: 100%;
}

.cga-description .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */
.cga-fun {
    padding-bottom: 50px 0;
}

.cga-fun h2 {
    text-align: center;
    margin-bottom: 40px;
}

.cga-fun .card {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}

.cga-fun .card .txt {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    order: 1;
}

.cga-fun .card .txt h3 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.cga-fun .card .txt a {
    margin-top: auto;
    align-self: flex-end;
}

.cga-fun .card .txt a:hover {
    color: rgb(25, 137, 55);
}

.cga-fun .card .txt a:hover .fas {
    transition: .3s;
    transform: translateX(8px);
}

.cga-fun .card .txt a .fas {
    display: inline-block;
    margin-left: 5px;
}


.cga-fun .card .pic img {
    width: 100%;
}

.cga-fun .stamp-list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.cga-fun .stamp-list .stamp {
    width: calc(20% - 20px);
    margin: 0 10px 25px;
    background-color: rgb(242, 242, 242);
    border-radius: 50%;
    border: 5px solid #fff;
}

.cga-fun .stamp-list .stamp img {
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(242, 242, 242);

}




.shop {
    margin-bottom: 30px;
}

.shop h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.shop .shop-banner {
    margin-bottom: 20px;
}

.shop .shop-banner img {
    width: 100%;
}

.shop .shop-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 0;
}

.shop .product {
    width: calc(50% - 10px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shop .product a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shop .product h3 {
    padding: 10px 20px 0;
    font-size: 20px;
}

.shop .product .pic {
    order: -1;
    overflow: hidden;
}

.shop .product img {
    width: 100%;
    transition: .3s;
}

.shop a:hover {
    color: #000;
}

.shop a:hover img {
    transform: scale(1.1);
    transition: .3s;
}

.shop .product-price {
    padding: 10px 20px;
    font-size: 18px;
    color: #f00;
    margin-top: auto;
}

.shop .price {
    display: inline-block;
    padding-left: 2px;
}



@media screen and (max-width:767.98px) {
    .cga-fun .stamp-list .stamp {
        width: calc(50% - 20px);
    }

    .cga-fun .card {
        margin-bottom: 40px;
    }

    .cga-fun .card .txt h3 {
        font-size: 18px;
    }

    .yt {
        padding: 0;
    }

 
}

@media screen and (min-width:768px) {
    .shop .product {
        width: calc(25% - 15px);
    }
}