.main-page {
    position: relative;
    padding-top: 40px;
}

.shop-list {
    padding: 0;
    position: sticky;
    top: 116px;
}
.shop-list li:first-of-type{
    padding-top: 0;
}
.shop-list li {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.shop-list li:last-of-type {
    border-bottom: none;
}

.shop-list li.active a {
    color: #198937;
}

.shop-list li a {
    display: block;
    font-weight: 300;
    font-size: 18px;
    color: #000;
}

.shop-list li a:hover {
    color: #198937;
}

.shop {
    margin-bottom: 30px;
}

.shop h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.shop .shop-banner {
    margin-bottom: 20px;
}

.shop .shop-banner img {
    width: 100%;
}

.shop .shop-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 0;
}

.shop .product {
    width: calc(50% - 10px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shop .product a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shop .product h3 {
    padding: 10px 20px 0;
    font-size: 20px;
}

.shop .product .pic {
    order: -1;
    overflow: hidden;
}

.shop .product img {
    width: 100%;
    transition: .3s;
}

.shop a:hover {
    color: #000;
}

.shop a:hover img {
    transform: scale(1.1);
    transition: .3s;
}

.shop .product-price {
    padding: 10px 20px;
    font-size: 18px;
    color: #f00;
    margin-top: auto;
}

.shop .price {
    display: inline-block;
    padding-left: 2px;
}

@media screen and (min-width:768px) {
    .shop .product {
        width: calc(25% - 15px);
    }
}

@media screen and (max-width:767.98px) {
    .shop-list li:first-of-type{
        padding-top: 15px;
    }
    .shop-list {
        display: flex;
        overflow-x: auto;
    }

    .shop-list li {
        flex-shrink: 0;
        padding-right: 15px;
        border-bottom: none;
    }
}